*{
box-sizing:border-box;
}

body{
margin:0;
}

.fix{
clear:both;
overflow:hidden;
}

.section-padding{
padding: 50px 0;
}

.wrapper{
width:1170px;
margin: 0 auto;
}

header{
overflow:hidden;
height:100vh;
}

.vid-bg{
position:absolute;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
}

.nav-area{
background:#A6A6A6;
height:80px;
position:absolute;
width:100%;
}

.logo{margin:10px 50px;
height:20px;
float:left;
color:#fff;

font-size:50px;
text-transform:uppercase;
}

.menu-area{
float:right;
list-style:none;
margin:20px;
}

.menu-area li{
display:inline-block;
margin: 0 5px;
}

.menu-area li a{
text-decoration: none;
font-size:25px;
color: #fff;
padding: 5px 10px;
letter-spacing: 2px;
}

.menu-area li.active a{
color:#692372 ;
}

.menu-area li a:hover{
color:#692372;
}



.btn{
background:#D3D3D3;
border:none;
color:#228B22;
padding:10px 30px;
font-size:15px;
text-transform:uppercase;
border-radius:25px;
display:inline-block;
margin-top:25px;
}

.section-header{
text-align:center;
margin-bottom: 30px;
}

.section-header h2{
text-transform:uppercase;
font-size:35px;
margin-bottom:0;
}

.line{
height:2px;
width:100px;
background:#000;
display:inline-block;
}

.section-header p{
font-size:18px;
}

footer{
background:#000;
}


.footer-area li{
display:inline-block;
margin: 0 5px;
}

.footer-area li a{
text-decoration: none;
color: #fff;
padding: 5px 10px;
letter-spacing: 2px;
}

.footer-area li.active a{
color:#692372 ;
}

.footer-area li a:hover{
color:#692372;
}
